<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <script>
    var data = {{ data_one }};
  </script>
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

  <script type="text/javascript">
    google.charts.load('current', { 'packages': ['corechart', 'line'] });
    google.charts.setOnLoadCallback(drawNflChart);
    
    function drawNflChart() {
      var nflMeans = new google.visualization.arrayToDataTable([
          ['Year', 'Average NFL Viewers (in Millions)'],
          [2017 , 14.925342592592589],
          [2018, 15.55550458715596],
          [2019, 16.31212962962963],
          [2020, 14.89874999999999],
          [2021, 16.26427272727273]
        ]);
      
      var options = {
        hAxis: {
          title: 'Year',
          format: '####'
        },
        vAxis: {
          title: 'Viewers (in Millions)'
        }
        
      };

      var chart = new google.visualization.LineChart(document.getElementById('nfl_chart'));
      chart.draw(nflMeans, options);
    }
  </script>

  <script type="text/javascript">
    google.charts.load('current', { 'packages': ['corechart', 'line'] });
    google.charts.setOnLoadCallback(drawEsportsChart);
    
    function drawEsportsChart() {
      var esportsMeans = new google.visualization.arrayToDataTable([
          ['Year', 'Average Esports Viewers (in Millions)'],
          [2017 , 0.155302],
          [2018, 0.149869],
          [2019, 0.148566],
          [2020, 0.141954],
          [2021, 0.167478]
        ]);
      
      var options = {
        hAxis: {
          title: 'Year',
          format: '####' 
        },
        vAxis: {
          title: 'Viewers (in Millions)'
        },
        colors: ['red']
      };

      var chart = new google.visualization.LineChart(document.getElementById('esports_chart'));
      chart.draw(esportsMeans, options);
    }
  </script>
  <title>Visualizations</title>
</head>

<body>
  <!-- NAV BAR -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Visualizations</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="about">About Us</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="viz">Visualizations</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Data Table</a>
        </li>
      </ul>
    </div>
  </nav>
  <!-- Headings -->
  <div class="container mt-3">
    <h1 class="text-center">Visualizations</h1>
    <div class="mt-5">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc euismod mollis dui at congue. Nullam iaculis,
        odio non vestibulum fermentum, quam nisi dictum nibh, non aliquet quam felis non erat. Vivamus interdum, leo
        eget viverra convallis, quam dolor posuere orci, non ultricies diam diam a eros. Aenean tempor auctor enim, id
        ullamcorper tellus fermentum quis. Duis ac felis in nibh malesuada facilisis at sed lacus. Pellentesque habitant
        morbi tristique senectus et netus et malesuada fames ac turpis egestas. In hac habitasse platea dictumst. Ut
        volutpat ultricies ex, sed suscipit quam tincidunt in.</p>
    </div>
  </div>
  <!--Charts  -->
  <div class="row">
    <div class="col-md-6">
      <div id="nfl_chart" style="width: 900px; height: 450px;"></div>
    </div>
    <div class="col-md-6">
      <div id="esports_chart" style="width: 900px; height: 450px;"></div>
    </div>
  </div>

</body>
