<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <script>
    var data = {{ data_one }};
  </script>
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

  <script type="text/javascript">
    google.charts.load('current', { 'packages': ['corechart', 'line'] });
    google.charts.setOnLoadCallback(drawNflChart);
    
    function drawNflChart() {
      var nflMeans = new google.visualization.arrayToDataTable([
          ['Year', 'Average NFL Viewers (in Millions)'],
          [2017 , 14.925342592592589],
          [2018, 15.55550458715596],
          [2019, 16.31212962962963],
          [2020, 14.89874999999999],
          [2021, 16.26427272727273]
        ]);
      
      var options = {
        hAxis: {
          title: 'Year',
          format: '####'
        },
        vAxis: {
          title: 'Viewers (in Millions)'
        }
        
      };

      var chart = new google.visualization.LineChart(document.getElementById('nfl_chart'));
      chart.draw(nflMeans, options);
    }
  </script>

  <script type="text/javascript">
    google.charts.load('current', { 'packages': ['corechart', 'line'] });
    google.charts.setOnLoadCallback(drawEsportsChart);
    
    function drawEsportsChart() {
      var esportsMeans = new google.visualization.arrayToDataTable([
          ['Year', 'Average Esports Viewers (in Millions)'],
          [2017 , 0.155302],
          [2018, 0.149869],
          [2019, 0.148566],
          [2020, 0.141954],
          [2021, 0.167478]
        ]);
      
      var options = {
        hAxis: {
          title: 'Year',
          format: '####' 
        },
        vAxis: {
          title: 'Viewers (in Millions)'
        },
        colors: ['red']
      };

      var chart = new google.visualization.LineChart(document.getElementById('esports_chart'));
      chart.draw(esportsMeans, options);
    }
  </script>
  <script>
    google.charts.load('current', { 'packages': ['corechart', 'controls'] });
    google.charts.setOnLoadCallback(drawChart);
    function drawChart() {
      var data = new google.visualization.DataTable();
      data.addColumn('string', 'Game');
      data.addColumn('number', 'Peak Viewer');
      data.addColumn('number', 'Year');
      data.addRows([['lol', 2102206, 2017],
      ['lol', 2050475, 2018],
      ['lol', 3985787, 2019],
      ['lol', 3882252, 2020],
      ['lol', 4018728, 2021],
      ['csgo', 1329096, 2017],
      ['csgo', 1329096, 2018],
      ['csgo', 1002132, 2019],
      ['csgo', 2748434, 2020],
      ['csgo', 925375, 2021],
      ['dota2', 925375, 2017],
      ['dota2', 1205979, 2018],
      ['dota2', 1965328, 2019],
      ['dota2', 508082, 2020],
      ['dota2', 2741514, 2021],
      ['pubg-mobile', 0, 2017],
      ['pubg-mobile', 418026, 2018],
      ['pubg-mobile', 596824, 2019],
      ['pubg-mobile', 3801998, 2020],
      ['pubg-mobile', 3801998, 2021]]);
      var yearDropdown = new google.visualization.ControlWrapper({
        'controlType': 'CategoryFilter',
        'containerId': 'year_filter_div',
        'options': {
          'filterColumnLabel': 'Year',
          'ui': {
            'label': 'Year:',
            'allowTyping': false,
            'allowMultiple': false,
          }
        },
      });
      var Piechart = new google.visualization.ChartWrapper({
        'chartType': 'PieChart',
        'containerId': 'chart1',
        'options': {
          'width': 600,
          'height': 300,
        }
      });
      var dashboard = new google.visualization.Dashboard(document.getElementById('dashboard_div')).bind(yearDropdown, Piechart).draw(data);
    }
  </script>
  <title>Visualizations</title>
</head>

<body>
  <!-- NAV BAR -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Visualizations</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="about">About Us</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="visualizations">Visualizations</a>
        </li>
      </ul>
    </div>
  </nav>
  <!-- Headings -->
  <div class="container mt-3">
    <h1 class="text-center">Visualizations</h1>
    <div class="mt-5">
      <p>
      </p>
    </div>
  </div>
  <!--Charts  -->
  <div class="row">
    <div class="col-md-6">
      <div id="nfl_chart" style="width: 900px; height: 450px;"></div>
    </div>
    <div class="col-md-6">
      <div id="esports_chart" style="width: 900px; height: 450px;"></div>
    </div>
  </div>
  <div id="dashboard_div">
    <div id="year_filter_div"></div>
    <div id="chart1" style="width: px; height: 450px;"></div>
  </div>

</body>
